#
#   Default settings - print everything
#   Write a format of printing line
#   You can use any format you want
#   line = Y:F:REG0 - for print only this three values
#   You can see all available values in src/system/PrintableValue.java
#
line = Y:F:Q:NEXTADDR:FLAGS:REG0:REG1:REG2:SP